<li class="footer-nav fl w-100 w-20-l pa2">
  <h4>Contact</h4>
  <ul class="list pl0 lh-copy">
  <li>Need help with something?</li>
  <li><a href="/contact/">Get in touch</a>.</li>
  <br>
  <div class="social-icons">
    <a class="GitHub dim" href="https://github.com/yjpl/supply">{% include social-icon.html icon="GitHub" %}</a>
    <a class="facebook dim" href="https://www.facebook.com/TemplatesSupply/">{% include social-icon.html icon="Facebook" %}</a>
    <a class="twitter dim" href="https://twitter.com/TemplatesSupply/">{% include social-icon.html icon="Twitter" %}</a>
    <a class="pinterest dim" href="https://www.pinterest.com/TemplatesSupply/">{% include social-icon.html icon="Pinterest" %}</a>
    <a class="Instagram dim" href="https://www.instagram.com/templatessupply/">{% include social-icon.html icon="Instagram" %}</a>
    <a class="linkedin dim" href="https://www.linkedin.com/company/templates-supply/">{% include social-icon.html icon="LinkedIn" %}</a>
    <a class="RSS dim" href="/products.xml">{% include social-icon.html icon="RSS" %}</a>
  </div>
  </ul>
</li>
</ul>
<p class="copyright black-40 f7 f6 tc-l">All Rights Reserved &copy; {{ site.time | date: '%Y' }} {{ site.title }}, Inc. Theme design by <a href="https://alternatyves.com">alternatyves</a></p>
</div>
</footer>
